* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icones {
    width: 20px;;
    height: auto;
}

body {
    display: inline-block;
}

header {
    /* border: 2px solid black; */
    background-color: mediumvioletred;
    padding: 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

header h1 {
    padding-left: 20px;
}

#btn {
    margin-left: auto;
}

.menu {
    display: inline-block;
    width: 20vw;
    height: 100vh;
    background-color: #f2d0e0;
}

.itens {
    /* border: 2px solid black; */
    padding-top: 20px;
    display: flex;
    flex-direction: row;
        justify-content: space-around
}

/* produtinhos */

.produtos {
    display: inline-flex;
    /* border: 2px solid black; */
    flex-direction: row;
    width: 80vw;
    flex-wrap: wrap;
}

.img-bolos {
    width: 200px;
    height: auto;
}

.bolos {
    margin-top: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    align-items: center;
    width: 290px;
    box-shadow: 10px 10px 19px 0px rgba(79,75,75,0.75);
-webkit-box-shadow: 10px 10px 19px 0px rgba(79,75,75,0.75);
-moz-box-shadow: 10px 10px 19px 0px rgba(79,75,75,0.75);
}

/* colocando lado a lado */
section {
    display: flex;
}
/* footer */

footer {
    display: flex;
    background-color: mediumvioletred;
    justify-content: center;
    align-items: center;
    font-size: large;
    height: 50px;
    width:auto;
}