body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: white;
}

.green-background {
    background-color: green;
    width: 30%;
    height: 90px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.yellow-background {
    background-color: yellow;
    width: 70%;
    height: 90px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pink-background {
    background-color: fuchsia;
    height: 60vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.blue-background {
    background-color: blue;
    height: 120px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-background {
    background-color: red;
    height: 60px;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightgreen-background {
    background-color: lightgreen;
    height: 60px;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purple-background {
    background-color: purple;
    height: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

#middle-container {
    display: flex;
    height: 120px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#blank {
    /* border: 2px solid black; */
    width: 30vw;
}